@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 307px;
  min-height: 500px;
  background-color: #e28625;
  padding: 48px;
}

h2 {
  font-family: "Big shoulders", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 25px;
}

p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
}

button {
  background-color: #fff;
  color: #e28625;
  border: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 25px;
  padding: 12px 31.5px;
  font-family: "lexend Deca", sans-serif;
  margin-top: 83px;
  border: 1px solid #fff;
}
.box-1 {
  border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.box-2 {
  background-color: #006971;
}

.box-2 > button {
  color: #006971;
}

.box-3 {
  background-color: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.box-2 > button {
  color: #004140;
}

.box-3 > button {
  color: #004140;
}

.box-1 > button:hover {
  color: #fff;
  background-color: #e28625;
}

.box-2 > button:hover {
  color: #fff;
  background-color: #006971;
}

.box-3 > button:hover {
  color: #fff;
  background-color: #004140;
}
